<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <title>Portfolio</title>
    </head>
    <body>
        <h2>This are my projects!</h2>
    </body>
</html>