@model Ninja

<div>
    <h2>@Model.name</h2>
    <p><strong>Location: </strong>@Model.location</p>
    <p><strong>Language: </strong>@Model.language</p>
    <p><strong>Comments: </strong>@Model.comment</p>
</div>